<style>
  .blue-value-graph__diagram {
    height: 100%;
    width: 100%;
  }
  .blue-value-graph__menu {
    display: none;
    position: absolute;
    z-index: 999;
  }

  .blue-value-graph__menu--active {
    display: block;
  }
</style>

<div class="blue-value-graph__diagram"></div>
<div class="dropdown-menu blue-value-graph__menu" role="menu">
  <div class="dropdown-content">
    <div class="dropdown-item has-text-primary has-text-weight-bold">
      Font Size: {{contextMenuFontSize}}px
    </div>
    <hr class="dropdown-divider">
    <div class="dropdown-item" role="button" onclick={{action "incFontSize"}}>
      <span class="icon">
        <i class="fa fas fa-search-plus" aria-hidden="true"></i>
      </span>
      <span>Increment Font</span>
    </div>
    <hr class="dropdown-divider">
    <div class="dropdown-item" role="button" onclick={{action "decFontSize"}}>
      <span class="icon">
        <i class="fa fas fa-search-minus" aria-hidden="true"></i>
      </span>
      <span>Decrement Font</span>
    </div>
  </div>
</div>