<style>
  .gojs-diagram {
    height: 100%;
    width: 100%;
  }
</style>

<div class="gojs-diagram"></div>
<div class="dropdown-menu graph__menu" role="menu">
  <div class="dropdown-content">
    <a class="dropdown-item" role="button" {{action "incFontSize" event on="mouseUp" }} href="#">
      <span class="icon">
        <i class="fa fas fa-search-plus" aria-hidden="true"></i>
      </span>
      Inc font size
    </a>
    <hr class="dropdown-divider">
    <div class="dropdown-item" role="button" {{action "decFontSize" event on="mouseUp" }}>
      <span class="icon">
        <i class="fa fas fa-search-minus" aria-hidden="true"></i>
      </span>
      Dec font size
    </div>
  </div>
</div>